body {
    font-family: 'Arial', sans-serif;
    background-color: #f5f5f5;
    margin: 0;
}

.post-container {
    max-width: 500px;
    margin: 20px auto;
}

.post-border {
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.post {
    padding: 20px;
}

.post p {
    margin-bottom: 10px;
    line-height: 1.6;
}

.post img,
.post video {
    max-width: 100%;
    height: auto;
    display: block;
    margin-top: 10px;
}

/* Lazy-load animation */
.lazy-load {
    opacity: 0;
    transition: opacity 0.5s;
}

.lazy-load.loaded {
    opacity: 1;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.9);
}

.modal-content {
    margin: auto;
    display: block;
    max-width: 80%;
    max-height: 80%;
}

.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

.thumbnail {
    max-width: 100%;
    height: auto;
    cursor: pointer;
}
.container {
    text-align: center;
    
}
.btn {
    padding: 10px 20px;
    background-color: #3498db;
    color: #fff;
    text-decoration: none;
    margin: 10px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #2980b9;
}